*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
nav{
    padding: 5px;
    background-color: #b8b6b570;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title{
   padding: 5px;
}
header{
    font-size: 25px;
}
span{
    color:  #f78773;
    font-size: 50px;
font-family: 'Lobster', sans-serif;
}
.header-menubar{
padding: 5px;
display: flex;
}

ul li{
    text-decoration: none;
    display: inline;
    padding: 5px;
    margin-left: 25px;
    font-size: 18px;
    font-weight: 10px;
}
li:hover{
    background-color: #d3c1fc;
    padding: 10px;
}
.btn-primary{
    margin-bottom: 0px;

}
.btn{
    padding: 5px;
    margin-left: 25px;
    padding: 8px 15px;
    font-size: 20px;
    background-color: #dac0ba;
    border: none;
    border-radius: 5px;
    
}
.btn:hover{
    color: #fdfcfc;
    background-color: #634d4a;
    box-shadow: 6px 4px 9px rgb(106, 70, 143);
}
nav{
    
}
svg{
    width: 15px;
}
.btn2{
    padding: 5px 20px;
    margin-left: 25px;
    padding: 8px 15px;
    font-size: 20px;
    background-color: #a0928f;
    border: none;
    border-radius: 5px;
    
}
.btn2:hover{
    background-color: #532222;
    color: rgb(252, 253, 253);
    box-shadow: 8px 9px 9px rgb(163, 121, 245);

}
.btn3{
    padding: 5px;
    margin-left: 25px;
    padding: 8px 15px;
    font-size: 20px;
    background-color: #faf6f5;
    border: none;
    border-radius: 5px;
    border: 1px solid brown;
    
}
h4{
color: #424140;
padding: 10px;
font-size: 35px;
font-weight:lighter
}
.banner-h1{
color: #161616;
padding: 10px;
font-size: 70px;
}
.banner-para{
    color: #696868f1;
    font-weight:lighter;
    font-size: 19px;
    padding: 10px;
}
.btn3:hover{
    background-color: #f8bcbc;
    color: rgb(0, 7, 7);
    box-shadow: 8px 9px 9px rgb(137, 136, 138);
    border: none;

}
.btn-icon{
    display: flex;
}
/* img{
    width: 350px;
} */
header{
    background-image: url("pic/header_bg.png"),url("pic/developer.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:bottom right,left;
    /* background-size: 100%; */
    /* max-height: 100%; */
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.about{
    margin: 50px;
    justify-content: center;
    padding: 10px;
    text-align: center;
}
.about h2{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 35px;
}
.ab-para{
    color: #696868f1;
    /* font-weight:lighter; */
    font-size: 18px;
    padding: 10px;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-para{
    color: #222222f1;
    font-weight:lighter;
    font-size: 18px;
    padding: 10px;
}
.nip{
    /* margin-right: 30px; */
    /* padding: 5px 20px; */
    font-size: 21px;
    color: #5f5f5f;
}
.name{
margin: 10px 20px;
font-weight: bold;
}
.date{
margin: 10px 20px;
font-weight: bold;

}
.email{
margin: 10px 20px;
font-weight: bold;

}
.from{
margin: 10px 20px;
font-weight: bold;


}
.what-i-do{
    margin: 50px;
    padding: 10px;
    text-align: center;
}
.what-i-do h2{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 35px;
}
.ab-para{
    color: #696868f1;
    /* font-weight:lighter; */
    font-size: 18px;
    padding: 10px;
}
.what-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.js{
    padding: 10px;
    margin: 25px;
}
.js img{
padding: 10px;
margin: 10px;
}
.js h5{
    font-size: 19px;
    padding: 5px;
    margin: 5px 0;
}
.js p{
    color: #5f5f5f;
}
.Node{
    padding: 10px;
    margin: 25px;
}
.Node img{
padding: 10px;
margin: 10px;
}
.Node h5{
    font-size: 19px;
    padding: 5px;
    margin: 5px 0;
}
.Node p{
    color: #5f5f5f;
}
.React{
    padding: 10px;
    margin: 25px;
}
.React img{
padding: 10px;
margin: 10px;
}
.React h5{
    font-size: 19px;
    padding: 5px;
    margin: 5px 0;
}
.React p{
    color: #5f5f5f;
}
.mongo{
    padding: 10px;
    margin: 25px;
}
.mongo img{
padding: 10px;
margin: 10px;
}
.mongo h5{
    font-size: 19px;
    padding: 5px;
    margin: 5px 0;
}
.mongo p{
    color: #5f5f5f;
}
.cv{
    text-align: center;
    padding: 10px;

}
.cv h2{
    padding: 5px;
    margin-bottom: 20px;
    font-size: 30px;

}
.cv-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edu{
padding: 10px;
margin: 25px;
}
.edu h3{
   padding: 5px;
   margin: 20px;
   font-size: 24px;
   color: #424140; 
}
.ma h6{
padding: 2px;
/* margin: 5px; */
font-size: 12px;
color: #111111;
}
.ma h5{
    padding: 2px;
    /* margin: 5px; */
    font-size: 16px;
    color:#111111;
}
.ma p{
padding: 10px;
margin: 10px 0;
color: #5f5f5f;
}
.exprnc h3{
    padding: 10px;
    margin: 20px;
    font-size: 24px;
    color: #424140; 
 }
 hr{
    margin: 10px 0 30px 30px ;
    width: 180px;
 }
.info-text{
    display: grid;
    grid-template-rows: auto;
    margin-left: 500px;
    
}

input[type="text"]{
    margin: 10px 0;
    width: 40%;
    padding: 7px;
}
input[type="email"]{
    margin: 10px 0;
    width: 40%;
    padding: 7px;
}
textarea{
    margin: 10px 0;
    width: 40%;
    padding: 7px;
}


.message .connect{
padding: 10px;
margin: 40px 0;
}

.message h2{
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 30px;

}
.connect{
    padding: 10px;
    margin: 40px 0;
    background-color: #cac8c8;
    }
    .connect h2{
        text-align: center;
        padding: 5px;
        margin-bottom: 20px;
        font-size: 30px;
    
    }
    .connect-text {
        margin-left: 450px;
      
    }
    .pik{
        margin: 10px 90px;
    }
    .pik img{
        padding: 10px;
        margin: 0 10px;
    }






